<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Form</title>
  </head>

  <body>
    <div>
      <form action="/result" method="post">
        <label for="name"> Name: </label>
        <input type="text" id="name" name="name" />
        <label for="age"> Age: </label>
        <input type="text" id="age" name="age" />
        <button type="submit">Send</button>
      </form>
    </div>
  </body>
</html>
