<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Form</title>
  </head>

  <body>
    <form action="/add" method="post">
      <input type="text" name="item" />
      <button type="submit">submit</button>
    </form>
  </body>
</html>
